<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-manage">
              <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">assignment</i>
              </div>
              <div class="card-content">
                <h4 class="card-title card-title-custome">Danh sách biểu phí</h4>
                <div class="toolbar" style="text-align: center">
                  <button class="btn btn-primary add" (click)="openDialogAdd()">
                    <i class="material-icons">add_box</i>
                    <span style="margin-left: 10px">Thêm mới</span>
                  </button>
                </div>
                <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
                  <p class="loading">Loading ...</p>
                </ngx-spinner>
                <div class="material-datatables table-responsive table-custom">
                  <table class="table row-border table-hover dtr-inline" cellspacing="0" style="width:100%" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th [hidden]='true'>Id</th>
                        <th>Khối lượng</th>
                        <th>Loại hàng</th>
                        <th>Khoảng cách</th>
                        <th>Dịch vụ</th>
                        <th>Hình thức</th>
                        <th>Giá trị</th>
                        <th>Dự kiến giao hàng</th>
                        <th class="text-center"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let fee of listFees">
                        <td [hidden]='true'>{{fee.FeeId}}</td>
                        <td>{{bindWeigh(fee.Weigh)}}</td>
                        <td>{{bindKindOrder(fee.Kind)}}</td>
                        <td>{{fee.Type === 1 ? bindAreas(fee.Distance) : bindDis(fee.Distance)}}</td>
                        <td>{{fee.Service}}</td>
                        <td>{{fee.Type === 1 ? 'Giao hàng' : 'Lấy hàng'}}</td>
                        <td>{{fee.Value}} VNĐ</td>
                        <td>{{fee.EstimateTime}} Ngày</td>
                        <td class="text-center">
                          <button class="btn btn-link btn-warning btn-just-icon edit" matTooltip="Sửa"
                            [matTooltipPosition]="'left'" (click)="openDialogAdd(fee)">
                            <i class="material-icons">mode_edit</i>
                          </button>
                          <button class="btn btn-link btn-danger btn-just-icon remove"
                            (click)="openDeleteDialog(fee.FeeId)" matTooltip="Xóa" [matTooltipPosition]="'left'">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->
        <ng-template #addFee>
          <h1 mat-dialog-title class="text-center"> {{isUpdate==true?'Cập nhật': 'Tạo mới'}} biểu phí </h1>
          <div mat-dialog-content>
            <form [formGroup]="addForm">
              <mat-form-field>
                <mat-label>Loại hàng*</mat-label>
                <mat-select formControlName="Kind">
                  <mat-option *ngFor="let item of listKindOfOrder" [value]="item.value">
                    {{item.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Khối lượng*</mat-label>
                <mat-select formControlName="Weigh" [disabled]="addForm.get('Kind').value === '0'">
                  <mat-option *ngFor="let item of listWeigh" [value]="item.value">
                    {{item.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="mt-2">
                <mat-label>Hình thức*</mat-label>
                <mat-radio-group formControlName="Type" (change)="select($event)">
                  <mat-radio-button value="0">Lấy hàng tại nhà</mat-radio-button>
                  <mat-radio-button value="1">Giao hàng tới nơi nhận</mat-radio-button>
                </mat-radio-group>
              </div>
              <mat-form-field *ngIf="!isTaken">
                <mat-label>Khu vực*</mat-label>
                <mat-select formControlName="Distance">
                  <mat-option *ngFor="let item of listDistances.listAreas" [value]="item.value">
                    {{item.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="isTaken">
                <mat-label>Khoảng cách*</mat-label>
                <mat-select formControlName="Distance">
                  <mat-option *ngFor="let item of listDistances.listDis" [value]="item.value">
                    {{item.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="mb-2">
                <mat-label>Dịch vụ*</mat-label>
                <mat-radio-group formControlName="Service">
                  <mat-radio-button value="Chuẩn">Chuẩn</mat-radio-button>
                  <mat-radio-button value="Nhanh">Nhanh</mat-radio-button>
                </mat-radio-group>
              </div>
              <mat-form-field>
                <input matInput placeholder="Giá tiền" type="number" formControlName="Value" class="money">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>VNĐ</span>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Số ngày giao dự kiến" type="text" formControlName="EstimateTime">
                <span matSuffix>Ngày</span>
              </mat-form-field>
            </form>
          </div>
          <div mat-dialog-actions>
            <button mat-button mat-raised-button class="btn btn-danger" (click)="closeDialog()">Hủy</button>
            <button mat-button mat-raised-button class="btn btn-primary save" align='end' *ngIf="!isUpdate"
              (click)="saveFee()" [disabled]="!addForm.valid">Lưu</button>
            <button mat-button mat-raised-button class="btn btn-primary save" align='end' *ngIf="isUpdate"
              (click)="updateFee()" [disabled]="!addForm.valid">Cập nhật</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>