@import '../../assets/scss/material-dashboard.scss';

.card.card-manage {

    .card-content {

        .toolbar {
            .add {
                background: #13CE95;
                color: $white;
            }
        }
    }

    .card-header.card-header-icon+.card-content .card-title {
        padding-bottom: 15px;
    }

    .card-title-custome {
        margin-left: 74px;
    }

    .form-group.form-group-sm {
        padding-bottom: 10px;
        margin: 20px 0 0 0;
        font-size: 11px;
    }
}

//Dialog
.radio-custom {
    display: flex;
    flex-direction: column;

    label {
        color: #3C4858;
    }
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.mat-radio-button {
    margin-left: 200px;
}