<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-manage">
              <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">assignment</i>
              </div>
              <div class="card-content">
                <h4 class="card-title card-title-custome">Danh sách Nhân viên</h4>
                <div class="toolbar" style="text-align: center">
                  <button class="btn add" (click)="openDialogAdd()">
                    <i class="material-icons">person_add</i>
                    <span style="margin-left: 10px">Thêm mới</span>
                  </button>
                </div>
                <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
                  <p class="loading">Loading ...</p>
                </ngx-spinner>
                <div class="material-datatables table-responsive">
                  <table class="table row-border table-no-bordered table-hover dtr-inline" cellspacing="0"
                    style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th [hidden]="true">Id</th>
                        <th>Họ và tên</th>
                        <th>Tên đăng nhập</th>
                        <th>Email</th>
                        <th>SĐT</th>
                        <th>Chức vụ</th>
                        <th>Thuộc đại lý</th>
                        <th>Trạng thái</th>
                        <th class="disabled-sorting text-center"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let emp of listEmployee">
                        <td [hidden]="true">{{emp.UserId}}</td>
                        <td>{{emp.FullName}}</td>
                        <td>{{emp.UserName}}</td>
                        <td>{{emp.Email}}</td>
                        <td>{{emp.Phone}}</td>
                        <td>{{convertRole(emp.Role)}}</td>
                        <td>{{emp.AgencyId}}</td>
                        <td>{{emp.Active ? 'Active': 'Block'}}</td>
                        <td class="text-center">
                          <button class="btn btn-link btn-info btn-just-icon remove" matTooltip="Xem ảnh"
                            [matTooltipPosition]="'left'" (click)="viewEmpImg(emp.Image)" [disabled]="!emp.Image">
                            <i class="material-icons">photo_library</i>
                          </button>
                          <button class="btn btn-link btn-warning btn-just-icon edit" matTooltip="Sửa"
                            [matTooltipPosition]="'left'" (click)="openDialogAdd(emp)">
                            <i class="material-icons">mode_edit</i>
                          </button>
                          <button class="btn btn-link btn-danger btn-just-icon remove" matTooltip="Xóa"
                            [matTooltipPosition]="'left'" (click)="openDeleteDialog(emp.UserId)"
                            [disabled]="emp.Role === 'minor'">
                            <i class="material-icons">close</i>
                          </button>
                          <button class="btn btn-link btn-success btn-just-icon remove" matTooltip="Dừng hoạt động"
                            [matTooltipPosition]="'left'" *ngIf="!userSupper && emp.Active"
                            [disabled]="emp.Role === 'staff'" (click)="onStopActive(emp)">
                            <i class="material-icons">lock_outline</i>
                          </button>
                          <button class="btn btn-link btn-success btn-just-icon remove" matTooltip="Mở hoạt động"
                            [matTooltipPosition]="'left'" *ngIf="!userSupper && emp.Active ==false"
                            [disabled]="emp.Role === 'staff'" (click)="onStopActive(emp)">
                            <i class="material-icons">lock_open</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->
        <!-- Template -->
        <ng-template #addEmployee>
          <h1 mat-dialog-title class="text-center"> {{isUpdate==true?'Cập nhật': 'Tạo mới'}} nhân viên </h1>
          <div mat-dialog-content>
            <form [formGroup]="addForm">
              <mat-grid-list cols="{{isUpdate? 4 : 2}}" rowHeight="80px">
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="Họ và tên" formControlName="FullName">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="Địa chỉ email" formControlName="Email">
                    <mat-error *ngIf="addForm.get('Email').invalid">Vui lòng nhập đúng định dạng email</mat-error>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="Số điện thoại" formControlName="Phone">
                    <mat-error *ngIf="addForm.get('Phone').invalid">Sai định dạng số điện thoại</mat-error>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile *ngIf="isUpdate">
                  <mat-form-field>
                    <input matInput placeholder="Thuộc đại lý" formControlName="AgencyId" readonly>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="Tên đăng nhập" formControlName="UserName">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile *ngIf="!isUpdate">
                  <mat-form-field hintLabel="Mật khẩu ít nhất 8 kí tự">
                    <input matInput placeholder="Mật khẩu khởi tạo" type="text" formControlName="Password" #input
                      [readonly]="isUpdate">
                    <mat-hint align="end">{{input.value?.length || 0}}</mat-hint>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="" [ngClass]="{'role-custom': !isUpdate, 'radio-super': isUpdate}">
                    <mat-label>Chức vụ:</mat-label>
                    <mat-radio-group class="" [ngClass]="{'radio-super': isUpdate }" formControlName="Role">
                      <mat-radio-button value="staff" [disabled]="addForm.value.Role == 'minor'">Nhân viên
                      </mat-radio-button>
                      <mat-radio-button value="minor" [disabled]="addForm.value.Role == 'staff'">Quản trị viên
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile *ngIf="isUpdate">
                  <div [ngClass]="{'radio-super': userSuper, 'radio-admin': !userSuper}">
                    <mat-label>Trạng thái:</mat-label>
                    <mat-radio-group [ngClass]="{'radio-super': userSuper}" formControlName="Active">
                      <mat-radio-button value="true" [disabled]="userSuper && addForm.value.Active == 'false'">Active
                      </mat-radio-button>
                      <mat-radio-button value="false" [disabled]="userSuper && addForm.value.Active == 'true'">Block
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="upload">
                    <mat-label class="label">Upload hình ảnh</mat-label>
                    <input type="file" id="file" (change)="handleFileInput($event.target.files)" class="btn">
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </form>
          </div>
          <div mat-dialog-actions>
            <button mat-button mat-raised-button class="btn btn-danger" (click)="closeModalImg()">Hủy</button>
            <button *ngIf="!isUpdate" mat-button mat-raised-button class="btn btn-primary save" align='end'
              (click)="saveEmp()" [disabled]="!addForm.valid">Lưu</button>
            <button *ngIf="isUpdate" mat-button mat-raised-button class="btn btn-primary save" align='end'
              (click)="updateEmp()">Cập nhật</button>
          </div>
        </ng-template>

        <ng-template #img>
          <button class="btn btn-link btn-danger btn-just-icon close-img" (click)="closeModalImg(true)">
            <i class="material-icons">close</i>
          </button>
          <div class="img-contain">
            <img [src]="url" class="emp-img">
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>