<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row date-picker mt-5 mb-5">
          <form [formGroup]="searchMonthValue" class="container-fluid" style="display: flex;">
            <div class="col-md-6 col-sm-6">
              <!-- <app-month-date-picker name="searchMonthValue" formControlName="monthData"></app-month-date-picker> -->
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Từ ngày" formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-6">
              <mat-form-field>
                <input matInput [matDatepicker]="dp" placeholder="Đến ngày" formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
            </div>
          </form>
          <button class="btn add ml-5" [disabled]="searchMonthValue.invalid" (click)="getReport()"
            *ngIf="role === 'minor'">
            <i class="material-icons">pie_chart</i>
            <span style="margin-left: 10px">Thống kê</span>
          </button>
          <button class="btn add ml-5" [disabled]="searchMonthValue.invalid" (click)="getReportAllAgency()"
            *ngIf="role === 'major'">
            <i class="material-icons">pie_chart</i>
            <span style="margin-left: 10px">Thống kê</span>
          </button>
        </div>
        <div class="row" *ngIf="isShowReport && role === 'minor'">
          <div class="col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">redeem</i>
                </div>
                <p class="card-category">Tổng đơn hàng</p>
                <h3 class="card-title">{{report.totalOrders}} <small>Đơn</small></h3>
              </div>
              <!-- <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Just Updated
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">monetization_on</i>
                </div>
                <p class="card-category">Tổng lợi nhuận</p>
                <h3 class="card-title">{{report.totalRevenue}}
                  <small>VNĐ</small>
                </h3>
              </div>
              <!-- <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">date_range</i> Tháng 10, 2019
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">local_shipping</i>
                </div>
                <p class="card-category">Đơn hoàn thành</p>
                <h3 class="card-title">{{report.orderSuccess}}
                  <small>Đơn</small>
                </h3>
              </div>
              <!-- <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">date_range</i> Tháng 10, 2019
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">local_shipping</i>
                </div>
                <p class="card-category">Đơn giao thất bại</p>
                <h3 class="card-title">{{report.orderFail}}
                  <small>Đơn</small>
                </h3>
              </div>
              <!-- <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">local_offer</i> Tracked from Github
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isShowReport && role === 'major'">
          <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
              <h3 style="text-align: center;">Tổng lợi nhuận</h3>
              <div style="display: block;">
                <canvas baseChart [data]="pieChartRevenue" [labels]="pieChartLabels" [chartType]="pieChartType"
                  [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <h3 style="text-align: center;">Tổng đơn hàng</h3>
              <div style="display: block;">
                <canvas baseChart [data]="pieChartOrder" [labels]="pieChartLabels" [chartType]="pieChartType"
                  [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>